[Desktop Entry]
Name=IMDboid
Name[ca]=IMDboid
Name[cs]=IMDboid
Name[da]=IMDboid
Name[de]=IMDboid
Name[el]=IMDboid
Name[en_GB]=IMDboid
Name[es]=IMDboid
Name[et]=IMDboid
Name[fr]=IMDboid
Name[ga]=IMDboid
Name[gl]=IMDboid
Name[hu]=IMDboid
Name[it]=IMDboid
Name[ja]=IMDboid
Name[km]=IMDboid
Name[ko]=IMDboid
Name[lv]=IMDboid
Name[nb]=IMDboid
Name[nds]=IMDboid
Name[nl]=IMDboid
Name[nn]=IMDboid
Name[pa]=IMDboid
Name[pl]=IMDboid
Name[pt]=IMDboid
Name[pt_BR]=IMDboid
Name[ro]=IMDboid
Name[ru]=IMDboid
Name[sr]=IMDboid
Name[sr@latin]=IMDboid
Name[sv]=IMDboid
Name[tr]=IMDboid
Name[uk]=IMDboid
Name[x-test]=xxIMDboidxx
Name[zh_CN]=IMDboid
Name[zh_TW]=IMDboid
Comment=Plasma IMDboid
Comment[ca]=Plasma IMDboid
Comment[cs]=Plasma IMDboid
Comment[da]=Plasma IMDboid
Comment[de]=Plasma IMDboid
Comment[el]=Plasma IMDboid
Comment[en_GB]=Plasma IMDboid
Comment[es]=Plasma IMDboid
Comment[et]=Plasma IMDboid
Comment[fr]=Plasma IMDboid
Comment[ga]=Plasma IMDboid
Comment[gl]=Plasma IMDboid
Comment[hu]=Plasma IMDboid
Comment[it]=Plasma IMDboid
Comment[ja]=Plasma IMDboid
Comment[km]=ប្លាស្មា IMDboid
Comment[ko]=Plasma IMDboid
Comment[lv]=Plasma IMDboid
Comment[nb]=Plasma IMDboid}
Comment[nds]=Plasma IMDboid
Comment[nl]=Plasma IMDboid
Comment[nn]=Plasma IMDboid
Comment[pa]=ਪਲਾਜ਼ਮਾ IMDboid
Comment[pl]=Plasma IMDboid
Comment[pt]=Plasma IMDboid
Comment[pt_BR]=Plasma IMDboid
Comment[ro]=Plasma IMDboid
Comment[ru]=Plasma IMDboid
Comment[sr]=Плазмин IMDboid
Comment[sr@latin]=Plasmin IMDboid
Comment[sv]=Plasma IMDboid
Comment[tr]=Plasma IMDboid
Comment[uk]=Плазма IMDboid
Comment[x-test]=xxPlasma IMDboidxx
Comment[zh_CN]=Plasma IMDboid
Comment[zh_TW]=Plasma IMDboid
Type=Service
Icon=imdboid
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_imdboid
X-KDE-PluginInfo-Author=Andreas Marschke
X-KDE-PluginInfo-Email=xxtjaxx@gmail.com
X-KDE-PluginInfo-Name=imdboid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

